.container {
  margin-top: 100px;
  .checkout-titles {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: large;
    font-weight: bold;
  }
  .checkout-titles span:nth-child(1){
    width: 281px;
  }
  .checkout-titles span:nth-child(2){
    width:120px;
  }
  .checkout-titles span:nth-child(3){
    width: 90px;
  }
  .checkout-titles span:nth-child(4){
    width: 60px;
  }
  .checkout-titles span:nth-child(5){
  
    width: 80px;
  }
  .cart div{
    text-align: center;
  }
  .cart {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    img{
       width: 281px;
       height: 400px; 
    }
    p {
        font-size: 1.25rem;
        user-select: none;
        span {
          font-weight: bold;
          margin:0 5px 0 5px; 
          font-size: 1.25rem;
          cursor: pointer;
        }
    }
    
  }
  .product-name{
    width: 120px;
  }
  .product-quantity{
    width: 90px;
  }
  .product-price{
    width: 60px;
  }
  .product-remove{
    width: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .checkout-titles {
    display: none !important;
  }
  .cart{
    justify-content: start !important;
    gap: 5px;
    .product-name{
      width: 1rem;
    }
    .product-quantity{
      width: 1rem;
    }
    .product-price{
      width: 1rem;
    }
    .product-remove{
      width: 1rem;
    }
    .desc-container{
      width: 100px;
      align-self: center;
    }
  }
}